/* Add CSS Styling */

.odd-num{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffb6b6;
}

.font-size{
    font-size: 24px;
}

#num-two{
    color: #0000ff;
    font-size: 36px;
}

#num-four{
    background-color: hsl(120, 64%, 75%);
    font-weight: bold;
}