body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 12px 8px 8px 8px;
}

.title {
  font-size: 16px;
  background: #e3f4ff;
  margin-bottom: 8px;
}

.content {
  background: #e3f4ff;
  padding: 16px 8px;
  margin-bottom: 8px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  padding: 8px 24px;
  margin: auto;
}

.title,
.button-container {
  padding: 12px 8px;
}
